@import "components/hero";
@import "components/about";
@import "components/services";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap'); 
$colorprimary:rgb(38, 93, 156);

*{
    box-sizing: border-box;
    margin: 0;
}
body{
    font-size: 18pxs;
    background:rgba(0, 0, 0, 0.705) ;
}

